body {
  margin: 0px;
  font-family: "Oswald", sans-serif;
  font-size: 1.07em; }
  body.logged-in .top-bar {
    margin-top: 32px; }

section, footer {
  padding: 1em 0 7em;
  width: 100%;
  position: relative; }

h1, h2, h3, h4, h5 {
  font-family: "Brush Script MT", cursive; }

h1 {
  font-size: 4.8em; }

h2 {
  font-size: 3.8em; }
  @media (max-width: 766px) {
    h2 {
      font-size: 2.5em; } }

p, ul, li, label, input {
  font-family: "Oswald", sans-serif;
  font-size: 1.07em; }

.container {
  margin: 0 auto; }
  .container .title {
    text-align: center;
    color: #353535;
    margin-bottom: 0;
    margin-top: 0.5em; }
  .container hr {
    border-color: #009247;
    border-top: none;
    border-left: none;
    border-right: none;
    max-width: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2.75em; }

.wide-content {
  width: 780px;
  margin: 0 auto;
  font-weight: 400;
  color: #353535; }
  @media (min-width: 767px) and (max-width: 1022px) {
    .wide-content {
      width: 700px; } }
  @media (max-width: 766px) {
    .wide-content {
      width: 300px; } }

.hide {
  display: none !important; }

.enquiry-button {
  position: fixed;
  bottom: 0;
  right: 5%;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  z-index: 1; }
  .enquiry-button .enquiry-tab {
    padding: 0.6em 2em;
    font-size: 0.9em;
    background-color: #009247;
    color: white;
    border-radius: 1em 1em 0 0;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    max-width: 80px;
    align-self: flex-end;
    transition: all 0.1s; }
    .enquiry-button .enquiry-tab:hover {
      background-color: #00c560; }
  .enquiry-button .enquiry-form {
    background-color: #eee;
    font-weight: 300;
    max-height: 100%;
    height: 0;
    width: 200px;
    padding: 0em 1.5em;
    border-top-left-radius: 1em;
    transition: all 0.5s ease;
    overflow: hidden !important;
    position: relative; }
    @media (max-width: 766px) {
      .enquiry-button .enquiry-form {
        border-radius: 0;
        padding: 0 !important;
        width: 100vw; }
        .enquiry-button .enquiry-form.open {
          height: 90vh !important; }
        .enquiry-button .enquiry-form .ninja-forms-cont {
          padding: 1em; } }
    .enquiry-button .enquiry-form.open {
      padding: 1em 1.5em;
      height: 452px; }
    .enquiry-button .enquiry-form .ninja-forms-form textarea {
      height: 100px; }
    .enquiry-button .enquiry-form .ninja-forms-form label {
      font-weight: 400; }
    .enquiry-button .enquiry-form .ninja-forms-form input {
      font-weight: 300;
      font-size: 0.9em;
      padding: 0.2em 0.4em; }
    .enquiry-button .enquiry-form .ninja-forms-form .submit-wrap {
      text-align: center; }
      .enquiry-button .enquiry-form .ninja-forms-form .submit-wrap input {
        background: transparent;
        border: 1px solid #009247;
        color: #009247;
        padding: 0.2em 1.8em;
        border-radius: 0.5em;
        font-weight: 300;
        transition: all 0.1s;
        cursor: pointer; }
        .enquiry-button .enquiry-form .ninja-forms-form .submit-wrap input:hover {
          background: #009247;
          color: white;
          font-weight: 400; }
  @media (max-width: 766px) {
    .enquiry-button {
      right: 0;
      left: 0;
      max-width: 100%; }
      .enquiry-button .enquiry-tab {
        max-width: 100%;
        width: 100%;
        border-radius: 0;
        padding: 1em 0; } }

.site-footer {
  padding-bottom: 0; }
  @media (max-width: 766px) {
    .site-footer .nav-footer {
      padding-bottom: 5em; } }
  .site-footer .nav-footer ul {
    text-transform: uppercase;
    display: flex;
    padding: 0; }
    @media (max-width: 766px) {
      .site-footer .nav-footer ul {
        justify-content: space-around; }
        .site-footer .nav-footer ul li {
          font-size: 0.8em !important; } }
    .site-footer .nav-footer ul li {
      display: block;
      padding: 0 1em;
      margin-bottom: 1em;
      font-size: 0.9em; }
      .site-footer .nav-footer ul li:first-child {
        padding-left: 0; }
      .site-footer .nav-footer ul li:last-child {
        padding-right: 0; }
      .site-footer .nav-footer ul li a {
        text-decoration: none;
        color: #353535;
        border-bottom: 0px solid #ce2a37;
        transition: all linear 0.1s; }
        .site-footer .nav-footer ul li a:hover {
          border-bottom: 1.5px solid #ce2a37; }
  .site-footer .nav-footer hr {
    border: 0;
    border-bottom: 1.5px solid #009247;
    max-width: 100%;
    margin-bottom: 1em; }
  .site-footer .nav-footer p {
    color: #353535;
    font-weight: 300;
    font-size: 0.9em;
    text-align: left;
    margin-top: 0; }

.site-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center; }
  .site-header .logo-header {
    max-width: 200px;
    margin: 0 auto;
    padding: 6em 0; }
  .site-header .subheader {
    color: white;
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 3em; }
    .site-header .subheader p {
      font-family: "Brush Script MT", cursive; }

.top-bar {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  max-height: 85px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
  .top-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .top-bar ul li {
      display: block;
      margin-left: 2px;
      color: #353535; }
      .top-bar ul li:hover a {
        text-decoration: underline;
        text-decoration-color: #009247; }
      .top-bar ul li a {
        padding: 2em;
        text-decoration: none;
        color: inherit; }
      .top-bar ul li:first-of-type {
        margin-right: auto; }
  .top-bar .nav-mobile {
    display: none; }
  @media (max-width: 766px) {
    .top-bar {
      background: transparent; }
      .top-bar .nav-primary {
        display: none; }
      .top-bar .nav-mobile {
        display: flex; }
        .top-bar .nav-mobile .menu-mobile-bars {
          position: absolute;
          top: 1em;
          right: 1em;
          cursor: pointer; }
          .top-bar .nav-mobile .menu-mobile-bars span {
            width: 30px;
            height: 3px;
            display: block;
            position: relative;
            transition: 200ms;
            box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.4); }
            .top-bar .nav-mobile .menu-mobile-bars span.open {
              box-shadow: none; }
          .top-bar .nav-mobile .menu-mobile-bars .menu-mobile-handle-top {
            top: 1px;
            background-color: #ce2a37; }
            .top-bar .nav-mobile .menu-mobile-bars .menu-mobile-handle-top.open {
              transform: rotate(135deg);
              top: 10px;
              background-color: #353535; }
          .top-bar .nav-mobile .menu-mobile-bars .menu-mobile-handle-middle {
            top: 6px;
            opacity: 1;
            background-color: white; }
            .top-bar .nav-mobile .menu-mobile-bars .menu-mobile-handle-middle.open {
              opacity: 0; }
          .top-bar .nav-mobile .menu-mobile-bars .menu-mobile-handle-bottom {
            top: 11px;
            background-color: #009247; }
            .top-bar .nav-mobile .menu-mobile-bars .menu-mobile-handle-bottom.open {
              transform: rotate(-135deg);
              top: 4px;
              background-color: #353535; }
        .top-bar .nav-mobile .menu-primary-menu-links-container {
          width: 100%;
          display: none; }
        .top-bar .nav-mobile ul {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 3em 1em 1.5em;
          background: rgba(255, 255, 255, 0.9);
          margin: 0;
          box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.4); }
          .top-bar .nav-mobile ul li {
            width: 100%;
            margin: 0;
            text-align: center;
            border-bottom: 1px solid #d4d4d4;
            padding: 0.5em 0; }
            .top-bar .nav-mobile ul li:first-of-type {
              margin-right: initial; }
            .top-bar .nav-mobile ul li a {
              padding: 0; } }

.basic-content .wide-content p {
  font-weight: 400;
  color: #353535;
  text-align: center; }

.features-row .three-column-feature {
  display: flex;
  justify-content: space-around; }
  .features-row .three-column-feature .feature-item {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    text-align: center; }
    .features-row .three-column-feature .feature-item .tick-icon {
      width: 60px;
      height: 60px;
      margin: 0 auto; }
  @media (max-width: 766px) {
    .features-row .three-column-feature {
      flex-direction: column; }
      .features-row .three-column-feature .feature-item {
        max-width: 100%;
        margin-bottom: 1em; } }

.image-row {
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.color-row {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  .color-row:before, .color-row:after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute; }
  .color-row::before {
    background: #ce2a37;
    top: 0; }
  .color-row::after {
    background: #009247;
    bottom: 0; }
  @media (max-width: 766px) {
    .color-row .wide-content {
      width: 100vw; }
    .color-row .image-container {
      overflow-x: scroll;
      overflow-y: hidden; }
      .color-row .image-container::-webkit-scrollbar {
        display: none; } }
  .color-row .color-row-images {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    align-content: center; }
    .color-row .color-row-images .color-image {
      height: 300px; }
      .color-row .color-row-images .color-image:first-child, .color-row .color-row-images .color-image:last-child {
        height: 200px;
        margin: auto 0; }
      .color-row .color-row-images .color-image img {
        height: 100%;
        width: auto; }
    @media (max-width: 766px) {
      .color-row .color-row-images .color-image {
        height: 300px !important; }
        .color-row .color-row-images .color-image:nth-child(2) {
          margin: 0 5em; } }
  .color-row .color-row-buttons {
    display: flex;
    align-content: center;
    height: 40px;
    align-items: center;
    height: 100px;
    width: 300px;
    margin: 0 auto;
    justify-content: space-around; }
    .color-row .color-row-buttons div {
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .color-row .color-row-buttons div div {
        transform: scale(1);
        transition: transform ease .2s; }
      .color-row .color-row-buttons div:hover div {
        transform: scale(1.1); }
    .color-row .color-row-buttons p.color-text {
      color: #353535;
      text-transform: uppercase;
      cursor: pointer; }
    .color-row .color-row-buttons .color-button {
      width: 3em;
      height: 3em;
      border-radius: 100%;
      cursor: pointer; }
      .color-row .color-row-buttons .color-button.white {
        background: white;
        border: 2px solid #353535; }
      .color-row .color-row-buttons .color-button.black {
        background: #353535; }

.social-row .wide-content {
  width: 960px;
  text-align: center; }
  @media (min-width: 767px) and (max-width: 1022px) {
    .social-row .wide-content {
      width: 767px; } }
  @media (max-width: 766px) {
    .social-row .wide-content {
      width: 320px; } }
  .social-row .wide-content hr {
    margin-bottom: 1.75em; }
  .social-row .wide-content .instagram-link {
    color: #ce2a37;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.1s; }
    .social-row .wide-content .instagram-link:hover {
      color: #db505b; }
  .social-row .wide-content .instagram-feed {
    margin-top: 2em;
    display: grid;
    width: 100%;
    overflow: hidden; }
    .social-row .wide-content .instagram-feed a {
      height: fit-content;
      font-size: 0;
      transition: all 0.1s; }
      .social-row .wide-content .instagram-feed a:hover {
        filter: brightness(110%); }
    .social-row .wide-content .instagram-feed img {
      object-fit: cover;
      width: 100%;
      max-width: 100%; }
    .social-row .wide-content .instagram-feed.six {
      grid-template-columns: repeat(6, 1fr); }
      .social-row .wide-content .instagram-feed.six img {
        height: 156px; }
      @media (min-width: 767px) and (max-width: 1022px) {
        .social-row .wide-content .instagram-feed.six {
          grid-template-columns: repeat(3, 1fr); }
          .social-row .wide-content .instagram-feed.six img {
            height: 230px; } }
      @media (max-width: 766px) {
        .social-row .wide-content .instagram-feed.six {
          grid-template-columns: repeat(2, 1fr); } }
    .social-row .wide-content .instagram-feed.three {
      grid-template-columns: repeat(3, 1fr); }
      .social-row .wide-content .instagram-feed.three img {
        height: 300px; }
        @media (min-width: 767px) and (max-width: 1022px) {
          .social-row .wide-content .instagram-feed.three img {
            height: 230px; } }

.specs-row {
  background: #ebebeb; }
  .specs-row .container {
    position: relative; }
    .specs-row .container .wide-content {
      width: 960px;
      text-align: unset;
      position: relative; }
      @media (min-width: 767px) and (max-width: 1022px) {
        .specs-row .container .wide-content {
          width: 700px; } }
      @media (max-width: 766px) {
        .specs-row .container .wide-content {
          width: 320px; } }
    .specs-row .container .stripes-center {
      display: flex;
      width: 60px;
      justify-content: space-between;
      margin: 6em auto 0 auto; }
      .specs-row .container .stripes-center .stripe {
        background: white;
        height: 450px;
        width: 15px;
        display: block;
        background: white; }
        .specs-row .container .stripes-center .stripe:first-of-type {
          background: #009247; }
        .specs-row .container .stripes-center .stripe:last-of-type {
          background: #ce2a37; }
    .specs-row .container .specs-image {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1; }
      @media (min-width: 767px) and (max-width: 1022px) {
        .specs-row .container .specs-image {
          height: 88%; } }
      @media (max-width: 766px) {
        .specs-row .container .specs-image {
          height: 45%; } }
      .specs-row .container .specs-image div {
        width: 300px; }
        @media (min-width: 767px) and (max-width: 1022px) {
          .specs-row .container .specs-image div {
            width: 250px; } }
        .specs-row .container .specs-image div img {
          width: 100%; }
    .specs-row .container .specs-items {
      position: absolute;
      top: 0;
      display: flex;
      align-content: space-around;
      justify-content: space-between;
      height: 85%;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 1.3em;
      z-index: 0; }
      @media (min-width: 767px) and (max-width: 1022px) {
        .specs-row .container .specs-items {
          height: 75%; } }
      @media (max-width: 766px) {
        .specs-row .container .specs-items {
          position: initial; } }
      .specs-row .container .specs-items .specs-description {
        width: 45%;
        border-bottom: 1px solid #353535; }
        .specs-row .container .specs-items .specs-description:nth-child(even) {
          text-align: right; }
        .specs-row .container .specs-items .specs-description:nth-child(n+9) {
          border-right: 1px solid #353535; }
        @media (max-width: 766px) {
          .specs-row .container .specs-items .specs-description {
            width: 100%;
            text-align: center !important;
            border: none !important;
            margin-bottom: 0.5em; } }
      .specs-row .container .specs-items span {
        display: block; }
        .specs-row .container .specs-items span.specs-title {
          text-transform: uppercase;
          font-weight: bold; }
        .specs-row .container .specs-items span.specs-subtitle {
          font-weight: 300; }

.location-row {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3em 0; }
  .location-row:before, .location-row:after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    position: absolute; }
  .location-row::before {
    background: #ce2a37;
    top: 0; }
  .location-row::after {
    background: #009247;
    bottom: 0; }
  .location-row .wide-content {
    width: 960px; }
    @media (min-width: 767px) and (max-width: 1022px) {
      .location-row .wide-content {
        width: 767px; } }
  .location-row .location-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em; }
    .location-row .location-cards .location-item {
      width: 42.5%;
      background: white;
      margin-bottom: 2em;
      padding: 1.5em;
      box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.1); }
      .location-row .location-cards .location-item h4 {
        font-family: "Oswald", sans-serif;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 1.5em;
        margin: 0.2em 0; }
      .location-row .location-cards .location-item p {
        font-size: 1.4em;
        font-weight: 300; }
      .location-row .location-cards .location-item .location-buttons {
        display: flex;
        justify-content: space-between; }
        .location-row .location-cards .location-item .location-buttons a {
          background: transparent;
          border: 1px solid #009247;
          color: #009247;
          border-radius: 0.5em;
          font-weight: 300;
          transition: all 0.1s;
          width: 48%;
          text-decoration: none;
          font-weight: 400;
          font-size: 1.1em;
          display: flex;
          padding: 0.4em 0;
          justify-content: center;
          align-items: center; }
          .location-row .location-cards .location-item .location-buttons a:hover {
            background: #009247;
            color: white;
            font-weight: 400; }
          @media (min-width: 767px) and (max-width: 1022px) {
            .location-row .location-cards .location-item .location-buttons a {
              font-size: 1em; } }
